body {
    font-family: Arial, sans-serif;
    background-color: #1d2a35;
}

h1 {
    align-items: center;
    margin-left: 40%;
    color:aliceblue;
}


#input {
    border-collapse: collapse;
    width: 50%;
    margin-left: 24%;
}



table {
    background-color: white;
    border-collapse: collapse;
    width: 100%;
    border-radius: 14px;
}


th, td {
    padding: 10px;
    text-align: left;
}

input[type="text"],
input[type="datetime-local"],
select {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    box-sizing: border-box;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}

.button-container button {
        padding: 10px 20px;
        margin-right: 10px;
    }

.success-message {
    color: green;
}

.error-message {
    color: red;
}
